@import url("https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext");
/* Variables */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: #000000;
  font-family: "Source Sans Pro", sans-serif;
  color: #E1D1B7;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}

.section-title span {
  text-transform: none;
  font-weight: 400;
  color: white;
}

/* Layout */
.wrapper {
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  -ms-flex: 1 0 0px;
      flex: 1 0 0;
}

.posts {
  -ms-flex: 2 0 0px;
      flex: 2 0 0;
}

.sidebar, .posts {
  background: #000000;
  margin-right: 30px;
  padding: 10px 40px;
  /* border: 1px solid $color-light; */
  border-radius: 5px;
}

/* Splash */
.splash {
  height: 70vh;
  width: calc(100vw - 32px);
  background-image: url("/images/splash.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
}

/* Logo */
.logo {
  height: 30vh;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 100px;
  text-align: center;
  margin: 0;
  padding: 30px;
}

/* mobile-menu */
.mobile-menu {
  display: none;
  text-align: center;
  margin: 0 auto 60px auto;
  padding: 0 30px;
  font-size: 20px;
  font-weight: bold;
}

.menu {
  padding: 0;
}

.menu li {
  position: relative;
  display: inline-block;
  margin: 0 30px;
}

.menu li ul {
  display: none;
  position: absolute;
  background: rgba(255, 255, 255, 0.85);
  width: 70vw;
  left: -150px;
  z-index: 1001;
  padding: 20px 0;
}

.menu li ul a {
  color: #000000;
}

.menu li ul a:hover {
  color: #E1D1B7;
}

.menu li:hover ul {
  display: block;
}

.menu li a {
  text-decoration: none;
  color: #E1D1B7;
}

.menu li a:hover {
  font-weight: bold;
  color: #3D2620;
}

/* Lists */
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list a {
  color: #E1D1B7;
  text-decoration: none;
}

.list .active {
  font-weight: bold;
  color: #3D2620;
}

.list-horizontal li {
  display: inline-block;
}

/* Authors */
.films li {
  margin-bottom: 12px;
}

/* Post */
.posts {
  position: relative;
  box-shadow: 2px 5px 35px 1px #e1d1b7;
  min-height: 520px;
  z-index: 0;
}

.post {
  position: absolute;
  opacity: 0;
  z-index: 0;
  top: 0;
  left: 0;
  padding: 0 20px;
}

.post.active {
  transition: all 4s ease-out;
  opacity: 1;
  z-index: 1001;
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: -ms-flexbox;
  display: flex;
}

.post-tags p {
  margin: 0 10px 0 0;
}

/* Media */
@media (max-width: 767px) {
  .splash {
    height: 30vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
  }
  .logo {
    height: auto;
  }
  .sidebar {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  .posts {
    margin: 0 30px;
  }
}
/*# sourceMappingURL=style.css.map */