@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: #E1D1B7;
$color-dark: #000000;
$color-active: #3D2620;

$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $color-dark;
  font-family: $font-text;
  color: $color-light;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;
  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-light, 20%);
  }
}

/* Layout */

.row {
  display: flex;
  justify-content: center;
}

.sidebar-left {
//  flex: 1 0 0;
  order: 1
}

.posts {
  flex: 2 0 0;
  order: 2
}

.sidebar-right {
  order: 3;
}


.sidebar, .posts {
  background: $color-dark;
  margin-right: 30px;
  padding: 10px 40px;
  /* border: 1px solid $color-light; */
  border-radius: 5px;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-family: $font-text;
  color: $color-light;
  li {
    font-weight: normal;
  }
}

/* Splash */

.splash {
  height: 70vh;
  width: calc(100vw - 32px);
  background-image: url('/images/splash.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
}

/* Logo */

.logo {
  height: 30vh;
  font-family: $font-header;
  font-weight: 400;
  font-size: 100px;
  text-align: center;
  margin: 0;
  padding: 30px;
  }

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  a {
    color: $color-light;
    text-decoration: none;
    padding: 5px;
  }
  .active {
    font-weight: bold;
    color: $color-active;
  }
}

.list-horizontal {
  li {
    display: inline-block;
  }
}

/* Authors */

.films {
  li {
    margin-bottom: 12px;
  }
}

/* Post */

.posts {
  position: relative;
  box-shadow: 2px 5px 35px 1px rgba(225,209,183,1);
  z-index: 0;
  //overflow: auto;
}

.post {
  position: absolute;
  opacity: 0;
  z-index: 0;
  top: 0;
  left: 0;
  padding: 20px 20px;
  &.active {
    transition: all 4s ease-out;
    opacity: 1;
    z-index: 1001;
  }
}

.post-author {
  font-style: italic;
}

.post-title {
  margin-top: 0;
}

.post-tags {
  display: flex;
  p {
    margin: 0 10px 0 0;
  }
}

/* Media */

@media (max-width: 992px) {
  .splash {
    height: 30vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
  }
  .logo {
    height: auto;
  }
  .posts {
    margin: 0 30px;
    flex: auto;
  }
  .sidebar {
    order: 1;
    .list {
      display: none;
    }
  }
  .tags-wrap {
    display: none;
  }
  .section-title:hover .list {
    display: block;
  }

}
