@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: #E1D1B7;
$color-dark: #000000;

$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $color-dark;
  font-family: $font-text;
  color: $color-light;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;
  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-light, 20%);
  }
}

/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
}

.posts {
  flex: 2 0 0;
}

.sidebar, .posts {
  background: $color-dark;
  margin-right: 30px;
  padding: 10px 40px;
  /* border: 1px solid $color-light; */
  border-radius: 5px;
}

/* Splash */

.splash {
  position: relative;
  height: 40vh;
  background-image: url('https://i.ibb.co/6rX25S0/mohammad-metri-1o-Kx-SKSOow-E-unsplash.jpg');
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
}

/* Logo */

.splash-inner {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom: 35px;
  .logo {
    font-family: $font-logo;
    font-weight: 400;
    font-size: 104px;
    line-height: 1;
    text-align: center;
    margin: 0;
  }
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  a {
    color: $color-light;
    text-decoration: none;
  }
  .active {
    font-weight: bold;
    color: #3D2620;
  }
}

.list-horizontal {
  li {
    display: inline-block;
  }
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }
}

/* Post */
.posts {
  box-shadow: 2px 5px 35px 1px rgba(225,209,183,1);
}

.post {
  display: none;
  &.active {
    display: block;
  }
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;
  p {
    margin: 0 10px 0 0;
  }
}
